<div id="sp_menu">
    <div id="sp_menu_area">
      <div id="sp_gnavi">
        <ul>
          <li><a href="/en/about/">About Dept. of IS</a></li>
          <li><a href="/en/lab-members/">Lab. / Members</a></li>
          <li><a href="/pamph/pdf/utokyo_ISguide2022_all.pdf" target="_blank"><span>Dept. Pamphlet</span></a></li>
          <li><a href="https://www.is.s.u-tokyo.ac.jp/shingaku/" target="_blank" class="blank"><span>for Komaba Students</span></a></li>
          <li><a href="/en/student/">for Undergrad Students</a></li>
          <li> <a href="https://www.i.u-tokyo.ac.jp/edu/course/cs/" target="_blank" class="blank"><span>for Grad Students</span></a></li>
          <li><a href="https://www.i.u-tokyo.ac.jp/index_e.shtml" target="_blank" class="blank"><span>Entrance Exam</span></a></li>
  
        </ul>
      </div>
  
      <div id="sp_menu_info">
        <ul>
          <li>
            <a href="/" class="lang"><span>日本語</span></a>
          </li>
        </ul>
      </div>
      <!-- #sp_menu_info -->
    </div><!-- #sp_menu_area -->
  </div><!-- #sp_menu -->