<header>
  <div id="header" role="banner">
    <div class="sticky_area">
      <div id="hd_logo">
        <div class="logo_inner">
          <a href="/en/">
            <h1><span><img src="/en/asset_utokyo-is/media/images/common/hd_logo.png" width="260" height="220" alt="Department of Information Science, Faculty of Science, University of Tokyo / Department of Computer Science, Graduate School of Information "></span></h1>
          </a>
        </div>
      </div>
      <ul class="department_list">
        <li class="department_item">
          <div class="item_inner">
            <div class="logo">
              <img src="/asset_utokyo-is/media/images/home/department_logo_001.png" alt="東京大学理学部" width="148" height="46">
            </div>
            <div class="name">
              <p>
                <span>Department of</span>
                <span>Information Science</span>
              </p>
            </div>
          </div>
        </li>
        <li class="department_item">
          <div class="item_inner">
            <div class="logo">
              <img src="/asset_utokyo-is/media/images/home/department_logo_002.png" alt="東京大学大学院 情報理工学系研究科" width="168" height="46">
            </div>
            <div class="name">
              <p>Computer Science</p>
            </div>
          </div>
        </li>
      </ul>
      <nav id="gnavi">
        <ul>
          <li>
            <a href="/en/about/">
              <p class="ja_text">About Dept. of IS</p>
            </a>
          </li>
          <li>
            <a href="/en/lab-members/">
              <p class="ja_text">Lab. / Members</p>
            </a>
          </li>
          <li>
            <a href="/files/2022/utokyo_ISguide2022_all.pdf" target="_blank">
              <p class="ja_text">Dept. Pamphlet</p>
            </a>
          </li>
          <li>
            <a href="https://www.is.s.u-tokyo.ac.jp/shingaku/" target="_blank" class="blank">
              <p class="ja_text"><span>for Komaba</span><span>Students</span></p>
            </a>
          </li>
          <li>
            <a href="/en/student/">
              <p class="ja_text">for Undergrad Sci. Students</p>
            </a>
          </li>
          <li>
            <a href="https://www.i.u-tokyo.ac.jp/edu/course/cs/index_e.shtml" target="_blank" class="blank">
              <p class="ja_text">
                <span>for Grad Students</span>
              </p>
            </a>
          </li>
          <li>
            <a href="https://www.i.u-tokyo.ac.jp/edu/course/cs/admission_e.shtml" target="_blank" class="blank">
              <p class="ja_text">Entrance Exam</p>
            </a>
          </li>

          <li class="lang_change">
            <a href="/" class="lang">
              <span>日本語</span>
            </a>
          </li>
        </ul>
      </nav><!-- gnavi -->
    </div><!-- sticky_area -->

    <div id="sp_hd_logo">
      <a href="/en/">
        <ul class="flex_logo_list">
          <li class="list_item">
            <div class="logo_img_wrap">
              <img src="/en/asset_utokyo-is/media/images/home/department_logo_001.png" alt="東京大学 理学部" width="140" height="44">
            </div>
            <div class="logo_text_wrap">
              <p class="en">Department of Information Science</p>
            </div>
          </li>
          <li class="list_item">
            <div class="logo_img_wrap">
              <img src="/en/asset_utokyo-is/media/images/home/department_logo_002.png" alt="東京大学 理学部" width="140" height="44">
            </div>
            <div class="logo_text_wrap">
              <p class="en">Computer Science</p>
            </div>
          </li>
        </ul>
      </a>
    </div>
    <div id="sp_menu_btn">
      <div class="sp_btn_cont">
        <span class="border01"></span>
        <span class="border02"></span>
        <span class="border03"></span>
      </div>
    </div><!-- sp_menu_btn -->
  </div><!-- header -->
</header>