
          <div id="category_selector">
            <div class="main_width">
              <ul class="selector">
                <li class="selector_item">
                  <div class="item_inner">
                    <a href="/student/" class="selector_btn{{ if eq .Params.slug  "student" }} current{{ end }}">授業日程</a>
                  </div>
                </li>
                <li class="selector_item">
                  <div class="item_inner">
                    <a href="/student/schedule/" class="selector_btn{{ if eq .Params.slug  "schedule" }} current{{ end }}">時間割</a>
                  </div>
                </li>
                <li class="selector_item">
                  <div class="item_inner">
                    <a href="/student/lecture/" class="selector_btn{{ if eq .Params.slug  "lecture" }} current{{ end }}">講義内容</a>
                  </div>
                </li>
                <li class="selector_item">
                  <div class="item_inner">
                    <a href="/student/requirements/" class="selector_btn{{ if eq .Params.slug  "requirements" }} current{{ end }}">卒業要件</a>
                  </div>
                </li>
              </ul>
            </div>

          </div>