<div id="sp_menu">
  <div id="sp_menu_area">
    <div id="sp_gnavi">
      <ul>
        <li><a href="/about/">学科概要</a></li>
        <li><a href="/lab-members/">教員/研究室</a></li>
        <li><a href="/pamph/pdf/utokyo_ISguide2022_all.pdf" target="_blank">学科パンフレット</a></li>
        <li><a href="https://www.is.s.u-tokyo.ac.jp/shingaku/" target="_blank" class="blank"><span>駒場生向け</span></a></li>
        <li><a href="/student/">理学部学生向け</a></li>
        <li><a href="https://www.i.u-tokyo.ac.jp/edu/course/cs/" target="_blank" class="blank"><span>大学院生向け</span></a></li>
        <li><a href="https://www.i.u-tokyo.ac.jp/edu/course/cs/admission.shtml" target="_blank" class="blank"><span>大学院入試</span></a></li>
      </ul>
    </div>

    <div id="sp_menu_info">
      <ul>
        <li>
          <a href="/en/" class="lang"><span>EN</span></a>
        </li>
      </ul>
    </div>
  </div><!-- #sp_menu_area -->
</div><!-- #sp_menu -->