{{ define "main" }}
</head>
<body id="internal" class="lower">
  <div id="wrapper">
    <div class="flex-wrapper">
      {{- partial "inc-header.en.html" . -}}

      <div class="main_container">
        <div id="main_area" role="main">
          <section id="top_kv" class="content_wrapper">
            <img src="/en/asset_utokyo-is/media/images/concerned_only/kv_concerned_only.jpg" alt="KV" width="1340" height="240">
            <div class="overlay_text">
              <h2>Internal</h2>
            </div>
          </section>

          <div id="bread">
            <ol>
              <li><a href="/"><span class="home"></span></a></li>
              <li><a href="{{ .Permalink }}"><span>{{ .Title }}</span></a></li>
            </ol>
          </div>

          <section id="internal_area" class="content_wrapper">
            <div class="main_width">
              <div class="content_inner">
                <div class="flex_container">
                  <div class="section_title">
                    <h3><span>Internal</span></h3>
                  </div>
                  <div class="section_main_content">
                    <div class="link_content">
                      <div class="text_area">
                        <p class="title_ja">library</p>
                      </div>
                      <div class="dl_btn_area">
                        <a href="https://library.t.u-tokyo.ac.jp/index_e.php">LINK</a>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section><!-- member_list_area -->

          {{- partial "inc-pagetop.html" . -}}
        </div>
      </div>
    </div>
  </div><!-- wrapper -->

  {{- partial "inc-footer.en.html" . -}}
  {{- partial "inc-sp_menu.en.html" . -}}
  {{- partial "inc-js.html" . -}}
 {{ end }}
