@charset "UTF-8";
/* CSS Document */

/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
img{
	vertical-align:bottom;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
font-size:16px;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

.mt01 { margin-top: 1px !important;} .mt02 { margin-top: 2px !important;}
.mt03 { margin-top: 3px !important;} .mt04 { margin-top: 4px !important;} 
.mt05 { margin-top: 5px !important;} .mt06 { margin-top: 6px !important;}
.mt07 { margin-top: 7px !important;} .mt08 { margin-top: 8px !important;}
.mt09 { margin-top: 9px !important;} .mt10 { margin-top:10px !important;}
.mt11 { margin-top:11px !important;} .mt12 { margin-top:12px !important;}
.mt13 { margin-top:13px !important;} .mt14 { margin-top:14px !important;}
.mt15 { margin-top:15px !important;} .mt16 { margin-top:16px !important;}
.mt17 { margin-top:17px !important;} .mt18 { margin-top:18px !important;}
.mt19 { margin-top:19px !important;} .mt20 { margin-top:20px !important;}
.mt21 { margin-top:21px !important;} .mt22 { margin-top:22px !important;}
.mt23 { margin-top:23px !important;} .mt24 { margin-top:24px !important;}
.mt25 { margin-top:25px !important;} .mt30 { margin-top:30px !important;}
.mt35 { margin-top:35px !important;} .mt40 { margin-top:40px !important;}
.mt45 { margin-top:45px !important;} .mt50 { margin-top:50px !important;}
.mt55 { margin-top:55px !important;} .mt60 { margin-top:60px !important;}
.mt65 { margin-top:65px !important;} .mt70 { margin-top:70px !important;}
.mt75 { margin-top:75px !important;} .mt80 { margin-top:80px !important;}
.mt85 { margin-top:85px !important;} .mt90 { margin-top:90px !important;}
.mt95 { margin-top:95px !important;} .mt100 { margin-top:100px !important;}


.mr01 { margin-right: 1px !important;} .mr02 { margin-right: 2px !important;}
.mr03 { margin-right: 3px !important;} .mr04 { margin-right: 4px !important;} 
.mr05 { margin-right: 5px !important;} .mr06 { margin-right: 6px !important;}
.mr07 { margin-right: 7px !important;} .mr08 { margin-right: 8px !important;}
.mr09 { margin-right: 9px !important;} .mr10 { margin-right:10px !important;}
.mr11 { margin-right:11px !important;} .mr12 { margin-right:12px !important;}
.mr13 { margin-right:13px !important;} .mr14 { margin-right:14px !important;}
.mr15 { margin-right:15px !important;} .mr16 { margin-right:16px !important;}
.mr17 { margin-right:17px !important;} .mr18 { margin-right:18px !important;}
.mr19 { margin-right:19px !important;} .mr20 { margin-right:20px !important;}
.mr25 { margin-right:25px !important;} .mr30 { margin-right:30px !important;}
.mr35 { margin-right:35px !important;} .mr40 { margin-right:40px !important;}
.mr45 { margin-right:45px !important;} .mr50 { margin-right:50px !important;}
.mr55 { margin-right:55px !important;} .mr60 { margin-right:60px !important;}
.mr65 { margin-right:65px !important;} .mr70 { margin-right:70px !important;}
.mr75 { margin-right:75px !important;} .mr80 { margin-right:80px !important;}
.mr85 { margin-right:85px !important;} .mr90 { margin-right:90px !important;}
.mr95 { margin-right:95px !important;} .mr100 { margin-right:100px !important;}


.mb01 { margin-bottom: 1px !important;} .mb02 { margin-bottom: 2px !important;}
.mb03 { margin-bottom: 3px !important;} .mb04 { margin-bottom: 4px !important;} 
.mb05 { margin-bottom: 5px !important;} .mb06 { margin-bottom: 6px !important;}
.mb07 { margin-bottom: 7px !important;} .mb08 { margin-bottom: 8px !important;}
.mb09 { margin-bottom: 9px !important;} .mb10 { margin-bottom:10px !important;}
.mb11 { margin-bottom:11px !important;} .mb12 { margin-bottom:12px !important;}
.mb13 { margin-bottom:13px !important;} .mb14 { margin-bottom:14px !important;}
.mb15 { margin-bottom:15px !important;} .mb16 { margin-bottom:16px !important;}
.mb17 { margin-bottom:17px !important;} .mb18 { margin-bottom:18px !important;}
.mb19 { margin-bottom:19px !important;} .mb20 { margin-bottom:20px !important;}
.mb25 { margin-bottom:25px !important;} .mb30 { margin-bottom:30px !important;}
.mb35 { margin-bottom:35px !important;} .mb40 { margin-bottom:40px !important;}
.mb45 { margin-bottom:45px !important;} .mb50 { margin-bottom:50px !important;}
.mb55 { margin-bottom:55px !important;} .mb60 { margin-bottom:60px !important;}
.mb65 { margin-bottom:65px !important;} .mb70 { margin-bottom:70px !important;}
.mb75 { margin-bottom:75px !important;} .mb80 { margin-bottom:80px !important;}
.mb85 { margin-bottom:85px !important;} .mb90 { margin-bottom:90px !important;}
.mb95 { margin-bottom:95px !important;} .mb100 { margin-bottom:100px !important;}


.ml01 { margin-left: 1px !important;} .ml02 { margin-left: 2px !important;}
.ml03 { margin-left: 3px !important;} .ml04 { margin-left: 4px !important;} 
.ml05 { margin-left: 5px !important;} .ml06 { margin-left: 6px !important;}
.ml07 { margin-left: 7px !important;} .ml08 { margin-left: 8px !important;}
.ml09 { margin-left: 9px !important;} .ml10 { margin-left:10px !important;}
.ml11 { margin-left:11px !important;} .ml12 { margin-left:12px !important;}
.ml13 { margin-left:13px !important;} .ml14 { margin-left:14px !important;}
.ml15 { margin-left:15px !important;} .ml16 { margin-left:16px !important;}
.ml17 { margin-left:17px !important;} .ml18 { margin-left:18px !important;}
.ml19 { margin-left:19px !important;} .ml20 { margin-left:20px !important;}
.ml25 { margin-left:25px !important;} .ml30 { margin-left:30px !important;}
.ml35 { margin-left:35px !important;} .ml40 { margin-left:40px !important;}
.ml45 { margin-left:45px !important;} .ml50 { margin-left:50px !important;}
.ml55 { margin-left:55px !important;} .ml60 { margin-left:60px !important;}
.ml65 { margin-left:65px !important;} .ml70 { margin-left:70px !important;}
.ml75 { margin-left:75px !important;} .ml80 { margin-left:80px !important;}
.ml85 { margin-left:85px !important;} .ml90 { margin-left:90px !important;}
.ml95 { margin-left:95px !important;} .ml100 { margin-left:100px !important;}

.mt00 { margin-top: 0 !important;}
.mr00 { margin-right: 0 !important;}
.mb00 { margin-bottom: 0 !important;}
.ml00 { margin-left: 0 !important;}

.pt01 { padding-top: 1px !important;} .pt02 { padding-top: 2px !important;}
.pt03 { padding-top: 3px !important;} .pt04 { padding-top: 4px !important;} 
.pt05 { padding-top: 5px !important;} .pt06 { padding-top: 6px !important;}
.pt07 { padding-top: 7px !important;} .pt08 { padding-top: 8px !important;}
.pt09 { padding-top: 9px !important;} .pt10 { padding-top:10px !important;}
.pt11 { padding-top:11px !important;} .pt12 { padding-top:12px !important;}
.pt13 { padding-top:13px !important;} .pt14 { padding-top:14px !important;}
.pt15 { padding-top:15px !important;} .pt16 { padding-top:16px !important;}
.pt17 { padding-top:17px !important;} .pt18 { padding-top:18px !important;}
.pt19 { padding-top:19px !important;} .pt20 { padding-top:20px !important;}
.pt21 { padding-top:21px !important;} .pt22 { padding-top:22px !important;}
.pt23 { padding-top:23px !important;} .pt24 { padding-top:24px !important;}
.pt25 { padding-top:25px !important;} .pt30 { padding-top:30px !important;}
.pt35 { padding-top:35px !important;} .pt40 { padding-top:40px !important;}
.pt45 { padding-top:45px !important;} .pt50 { padding-top:50px !important;}
.pt55 { padding-top:55px !important;} .pt60 { padding-top:60px !important;}
.pt65 { padding-top:65px !important;} .pt70 { padding-top:70px !important;}
.pt75 { padding-top:75px !important;} .pt80 { padding-top:80px !important;}
.pt85 { padding-top:85px !important;} .pt90 { padding-top:90px !important;}
.pt95 { padding-top:95px !important;} .pt100 { padding-top:100px !important;}


.pr01 { padding-right: 1px !important;} .pr02 { padding-right: 2px !important;}
.pr03 { padding-right: 3px !important;} .pr04 { padding-right: 4px !important;} 
.pr05 { padding-right: 5px !important;} .pr06 { padding-right: 6px !important;}
.pr07 { padding-right: 7px !important;} .pr08 { padding-right: 8px !important;}
.pr09 { padding-right: 9px !important;} .pr10 { padding-right:10px !important;}
.pr11 { padding-right:11px !important;} .pr12 { padding-right:12px !important;}
.pr13 { padding-right:13px !important;} .pr14 { padding-right:14px !important;}
.pr15 { padding-right:15px !important;} .pr16 { padding-right:16px !important;}
.pr17 { padding-right:17px !important;} .pr18 { padding-right:18px !important;}
.pr19 { padding-right:19px !important;} .pr20 { padding-right:20px !important;}
.pr25 { padding-right:25px !important;} .pr30 { padding-right:30px !important;}
.pr35 { padding-right:35px !important;} .pr40 { padding-right:40px !important;}
.pr45 { padding-right:45px !important;} .pr50 { padding-right:50px !important;}
.pr55 { padding-right:55px !important;} .pr60 { padding-right:60px !important;}
.pr65 { padding-right:65px !important;} .pr70 { padding-right:70px !important;}
.pr75 { padding-right:75px !important;} .pr80 { padding-right:80px !important;}
.pr85 { padding-right:85px !important;} .pr90 { padding-right:90px !important;}
.pr95 { padding-right:95px !important;} .pr100 { padding-right:100px !important;}


.pb01 { padding-bottom: 1px !important;} .pb02 { padding-bottom: 2px !important;}
.pb03 { padding-bottom: 3px !important;} .pb04 { padding-bottom: 4px !important;} 
.pb05 { padding-bottom: 5px !important;} .pb06 { padding-bottom: 6px !important;}
.pb07 { padding-bottom: 7px !important;} .pb08 { padding-bottom: 8px !important;}
.pb09 { padding-bottom: 9px !important;} .pb10 { padding-bottom:10px !important;}
.pb11 { padding-bottom:11px !important;} .pb12 { padding-bottom:12px !important;}
.pb13 { padding-bottom:13px !important;} .pb14 { padding-bottom:14px !important;}
.pb15 { padding-bottom:15px !important;} .pb16 { padding-bottom:16px !important;}
.pb17 { padding-bottom:17px !important;} .pb18 { padding-bottom:18px !important;}
.pb19 { padding-bottom:19px !important;} .pb20 { padding-bottom:20px !important;}
.pb25 { padding-bottom:25px !important;} .pb30 { padding-bottom:30px !important;}
.pb35 { padding-bottom:35px !important;} .pb40 { padding-bottom:40px !important;}
.pb45 { padding-bottom:45px !important;} .pb50 { padding-bottom:50px !important;}
.pb55 { padding-bottom:55px !important;} .pb60 { padding-bottom:60px !important;}
.pb65 { padding-bottom:65px !important;} .pb70 { padding-bottom:70px !important;}
.pb75 { padding-bottom:75px !important;} .pb80 { padding-bottom:80px !important;}
.pb85 { padding-bottom:85px !important;} .pb90 { padding-bottom:90px !important;}
.pb95 { padding-bottom:95px !important;} .pb100 { padding-bottom:100px !important;}


.pl01 { padding-left: 1px !important;} .pl02 { padding-left: 2px !important;}
.pl03 { padding-left: 3px !important;} .pl04 { padding-left: 4px !important;} 
.pl05 { padding-left: 5px !important;} .pl06 { padding-left: 6px !important;}
.pl07 { padding-left: 7px !important;} .pl08 { padding-left: 8px !important;}
.pl09 { padding-left: 9px !important;} .pl10 { padding-left:10px !important;}
.pl11 { padding-left:11px !important;} .pl12 { padding-left:12px !important;}
.pl13 { padding-left:13px !important;} .pl14 { padding-left:14px !important;}
.pl15 { padding-left:15px !important;} .pl16 { padding-left:16px !important;}
.pl17 { padding-left:17px !important;} .pl18 { padding-left:18px !important;}
.pl19 { padding-left:19px !important;} .pl20 { padding-left:20px !important;}
.pl25 { padding-left:25px !important;} .pl30 { padding-left:30px !important;}
.pl35 { padding-left:35px !important;} .pl40 { padding-left:40px !important;}
.pl45 { padding-left:45px !important;} .pl50 { padding-left:50px !important;}
.pl55 { padding-left:55px !important;} .pl60 { padding-left:60px !important;}
.pl65 { padding-left:65px !important;} .pl70 { padding-left:70px !important;}
.pl75 { padding-left:75px !important;} .pl80 { padding-left:80px !important;}
.pl85 { padding-left:85px !important;} .pl90 { padding-left:90px !important;}
.pl95 { padding-left:95px !important;} .pl100 { padding-left:100px !important;}
.pl110 { padding-left:110px !important;}
.pl120 { padding-left:120px !important;}
.pl130 { padding-left:130px !important;}
.pl140 { padding-left:140px !important;}
.pl150 { padding-left:150px !important;}
.pl160 { padding-left:160px !important;}
.pl170 { padding-left:170px !important;}
.pl180 { padding-left:180px !important;}
.pl190 { padding-left:190px !important;}
.pl200 { padding-left:200px !important;}